// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* css for the search form */
#search {
  margin-top: 1%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#form-line-1 {
  display: -webkit-flex;
  display: flex;
}

#item {
  width: 80%;
}

#price {
  width: 20%;
}

#form-line-2 {
  font-size: 12px;
  display: -webkit-flex;
  display: flex;
}

#listing-type {
  flex: 1;
}

#complete-listing {
  flex: 1;
}

#form-line-3 {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

#submit {
  flex: 1;
}

/* css for the handlebars template */

#results {
  height: 100vh;
}

#item-row {
  margin-top: 2%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: -webkit-flex;
  display: flex;
  height: 50%;
}

#item-image {
  margin: 2px 5% 2px 2%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

#item-image img{
  width: 80%;
  max-height: 90%;
}

#information {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 4;
}

#item-name{
  font-size: 3vh;
}

#track-item form button {
  width: 50%;
}

#table {
  table-layout: fixed;
}

table th {
  width: 25%;
}

td {
  border: 1px solid black;
}

.cell {
  text-align: center;
}

#chart {
  flex: 3;
  padding-right: 5%;
  max-height: 100%;
}